@font-face {
  font-family: 'PretendardBlack', sans-serif;
  src: url('../fonts/Pretendard-Black.woff') format('woff');
}
@font-face {
  font-family: 'PretendardBold', sans-serif;
  src: url('../fonts/Pretendard-Bold.woff') format('woff');
}
@font-face {
  font-family: 'PretendardExtraBold', sans-serif;
  src: url('../fonts/Pretendard-ExtraBold.woff') format('woff');
}
@font-face {
  font-family: 'PretendardExtraLight', sans-serif;
  src: url('../fonts/Pretendard-ExtraLight.woff') format('woff');
}
@font-face {
  font-family: 'PretendardLight', sans-serif;
  src: url('../fonts/Pretendard-Light.woff') format('woff');
}
@font-face {
  font-family: 'PretendardMedium', sans-serif;
  src: url('../fonts/Pretendard-Medium.woff') format('woff');
}
@font-face {
  font-family: 'PretendardRegular', sans-serif;
  src: url('../fonts/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: 'PretendardSemiBold', sans-serif;
  src: url('../fonts/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'PretendardThin', sans-serif;
  src: url('../fonts/Pretendard-Thin.woff') format('woff');
}
